body
{
    background-color: #1fc8db;
    background-image: linear-gradient(150deg, white 5%, #1fe9ff 41%, #2cb5e8 75%);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    color: white
}


/* First Block Starts here */

#welcome
{
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      
      border: 3px solid white;
      border-radius: 10px;
      text-align: center;
      margin-top: 150px;
      padding: 4%;
      animation: animate 1.5s infinite ;
}
@keyframes animate
{
      0%{background-image: radial-gradient(circle, #1fe9ff 20%, #2cb5e8);}
      25%{background-image: radial-gradient(circle, #1fe9ff 40%, #2cb5e8);}
      50%{background-image: radial-gradient(circle, #1fe9ff 60%, #2cb5e8);}
      75%{background-image: radial-gradient(circle, #1fe9ff 40%, #2cb5e8);}
      100%{background-image: radial-gradient(circle, #1fe9ff 20%, #2cb5e8);}
}

.btn
{
      color: white;
      border: 2px solid white;
      border-radius: 5px;
      background-color: transparent; 
      padding: 5px 10px;
      font-family: 'Baloo Da 2', cursive;
      font-size: 20px;
}
.btn:hover
{
      background-color: #1fe9ff;
      border: 2px solid #2cb5e8;
}


#msg1
{
      display: inline-block;
      margin-bottom: 10px;
      font-family: 'Baloo Da 2', cursive;
      font-size: 20px;
}

#msg2
{
      display: inline-block ;
      margin-bottom: 15px;
      font-family: 'Bellota', cursive;
      font-size: 30px;
}

/* First Block Ends here */

/* Second Block Starts here */
#mainDiv, #secDiv, #thiDiv, #tikDiv1, #tikDiv2, #resDiv
{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 8%;
      text-align: center;
      border: 3px solid white;
      border-radius: 10px;
      padding: 5%;
      padding-bottom: 3%;
      
      animation: animate 1.5s infinite ;
}

.icon
{
      height: 23px;
      width: 23px;
      margin-left: 10px;
      margin-top: 5px;
}

.options
{
      margin-top: 3%;
      text-align: left;
      margin-left: 25%;
      margin-bottom: 10px;
}

#warn1, #warn2, #warn3, #warn4, #warn5
{
      color: red;
}

.ques
{
      font-size: 22px;
      font-family: 'Baloo Da 2', cursive;
}

.opt
{
      font-size: 20px;
      font-family: 'Bellota', cursive;
      margin-left: 7px;
}

#img
{
      margin-left: auto;
      margin-right: auto;
      width: 70px;
      height: 70px;
      margin-top: 30px;
      margin-bottom: 30px;
}

#res
{
      font-size: 35px;
      font-family: 'Bellota', cursive;
}

#resMsg
{
      font-family: 'Bellota', cursive;
      font-size: 20px;
}

#lab
{
      display: block;
      color: white;
      text-align: center;
      padding-top: 20px;
}

#signature
{
    font-size: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;

    animation: signature 2s infinite;
}
@keyframes signature
{
    0%{box-shadow: 0 0 0px white inset;}
    50%{box-shadow: 0 0 10px white inset;}
    100%{box-shadow: 0 0 0px white inset;}

    0%{text-shadow: 0 0 1px rgb(37, 212, 37);}
    50%{text-shadow: 0 0 10px rgb(37, 212, 37);}
    100%{text-shadow: 0 0 1px rgb(37, 212, 37);}
}